*{
	margin: 0;

}
html {
    font-family: "DINBLACK";
    background-color: #F7F7F7;

}

@font-face {
    font-family: "Segoe";
    src: url(./Fonts/Segoe\ UI\ Bold.ttf);
}

@font-face {
    font-family: "DINBLACK";
    src: url("../Fonts/DIN-BlackAlternate.ttf")
}

@font-face {
font-family: "Montserrat";
src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}


nav {
    display: flex;
    justify-content: space-around;
}

.btn {
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 5px;
    color: #333739;
    font-family: "Segoe";



    
}


#titulo-pagina {
    color: #FFFBE9;
    font-size: 80px;
    line-height: 70px;
    margin-top: 200px;
    text-transform: uppercase;
    text-align:center;
}

#subtitulo-pagina {
    color:#FFFBE9;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 13px;
    margin-top: 60px;
    text-transform: uppercase;
    text-align:center;
}



#video_background {

    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    
    }
    
#video_pattern {
    background:#fff;
    position: fixed;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    }

#image_background {

    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 100px;
    height: auto;
    z-index: -1000;
    overflow: hidden;
            
          
    }


#seccionarticulo {
    display: grid;
    margin: 250px;
    padding: 380px 320px 100px 320px;
    justify-content: center;
    grid-template-columns: auto 650px;
    grid-template-rows: 200px auto ;
    grid-template-areas: 
    "img titulo "
    "img texto ";
    column-gap: 100px;


    

}


#imagen-articulo {
    grid-area: img;
    justify-self: end;
    width: 600px;
    height: 400px;
    background-color: #E1E8EB;

}

#titulo-articulo {
    color: #333739;
    grid-area: titulo;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    font-size: 44px;
    align-self: end; 
    margin: 0;

}

#texto-articulo {
    font-family: "Montserrat";
    grid-area: texto;
    justify-self: center;
    padding: 10px;
    border-radius: 5px;
    align-self: start;
    font-size: 30px;


}

#seccionarticulo2 {
    display: grid;
    justify-content: center;
    grid-template-columns: auto 650px;
    grid-template-rows: 300px auto ;
    grid-template-areas: 
    "video titulo "
    "video texto ";
    column-gap: 100px;
    padding: 0 0 100px 0;
}

#texto-articulo2 {
    font-family: "Montserrat";
    grid-area: texto;
    justify-self: center;
    padding: 10px;
    border-radius: 5px;
    align-self: start;
    font-size: 30px;
    
    
}

#imagen-articulo2 {
    grid-area: video;
    width: 600px;
    height: 800px;
    object-fit: cover;
}

#titulo-articulo2 {
    color: #333739;
    grid-area: titulo;
    text-transform: uppercase;
    padding: 10px;
    font-size: 44px;
    align-self: end; 
    margin: 0;
}

@media screen and (max-width: 600px) {
    #seccionarticulo {
        display: grid;
        margin: 100px 100px 0 0;
        padding: 320px 320px 100px 0;
        justify-content:start;
        grid-template-columns: 550px;
        grid-template-rows: auto auto 200px ;
        grid-template-areas: 
        "img"
        "titulo"
        "texto";
        row-gap: 10px;
    
    
        
    
    }
    
    
    #imagen-articulo {
        grid-area: img;
        justify-self: start;
        width: 550px;
        height: 400px;
        background-color: #E1E8EB;
    
    }
    
    #titulo-articulo {
        color: #333739;
        grid-area: titulo;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 5px;
        font-size: 44px;
        margin: 0;
        text-align: center;
    
    }
    
    #texto-articulo {
        font-family: "Montserrat";
        grid-area: texto;
        justify-self: center;
        padding: 10px;
        border-radius: 5px;
        align-self: stretch;    

    }
    
    #seccionarticulo2 {
        display: grid;
        margin: 0 100px 100px 0;
        padding: 0 0px 0 0;
        justify-content:start;
        grid-template-columns: 550px;
        grid-template-rows: auto auto 250px ;
        grid-template-areas: 
        "video"
        "titulo"
        "texto";
        row-gap: 10px;
    }
    
    #texto-articulo2 {
        font-family: "Montserrat";
        grid-area: texto;
        justify-self: center;
        padding: 10px;
        align-self: center;
        align-items: stretch;
        
    }
    
    #video-articulo2 {
        grid-area: video;
        width: 400px;
        height: 600px;
        justify-self: center;
    
    }
    
    #titulo-articulo2 {
        color: #333739;
        grid-area: titulo;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 5px;
        font-size: 44px;
        text-align: center;
        margin: 0;
    }
    
}
    
/* CSS PAGINA SEE MORE ABAJO */

.galeria1 {
    list-style: none;
    display: grid;
    grid-template-columns: 300px 300px 300px auto;
    grid-template-rows: 300px 300px ;
    grid-template-areas: 
    "img img img titulo"
    "img img img texto";
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
}

.imgal1 {
    grid-area: img;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#titulo-gal1 {
    grid-area: titulo;
    color: #333739;
    text-transform: uppercase;
    justify-self:center;
    align-self: end;
    font-size: 44px;
}

#texto-gal1 {
    grid-area: texto;
    font-family: "Montserrat";
    font-size: 25px;
    align-self: stretch;
    margin: 50px;
    align-self: top;
}
